[project]
	description = Tools, program samples, trials, code snippets for generic usages in JAVA.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tushartarkas
[access "refs/for/refs/*"]
	read = group user/tushartarkas
	push = group user/tushartarkas
	label-Code-Review = -2..+2 group user/tushartarkas
	label-Verified = -1..+1 group user/tushartarkas
	rebase = group user/tushartarkas
	removeReviewer = group user/tushartarkas
	submit = group user/tushartarkas
[access "refs/heads/*"]
	read = group user/tushartarkas
	create = group user/tushartarkas
	push = +force group user/tushartarkas
	pushMerge = group user/tushartarkas
[access "refs/tags/*"]
	push = +force group user/tushartarkas
	pushTag = group user/tushartarkas
	pushSignedTag = group user/tushartarkas
